[main]
# The regular expression to be used for variables. Must contain at least two groups: one for the character identifier and one for the word identifier. The default regular expression matches variables of the form surname_word:
variable_regex = ([A-Za-z]+)_([A-Za-z]+)

# This option determines what happens if genderiser finds a variable in the text for which it can't find a replacement. Possible values are 'quiet' and 'loud'. In quiet mode genderiser will try to use a gender-neutral term by stripping the character identifier from the variable and using the remaining part of the variable name. In loud mode genderiser will output 'UNKNOWN' instead.
key_error_mode = loud

[genders]
# This section lists valid genders. Each key must be the name of a section in which a word list for a gender is defined. Values are ignored.
male =
female =

[male]
# Some default pronouns for the male gender
they = he
them = him
their = his
theirs = his
themselves = himself

[female]
# Some default pronouns for the female gender
they = she
them = her
their = her
theirs = hers
themselves = herself
