[main]
# The regular expression to be used for variables. Must contain at least two groups: one for the character identifier and one for the word identifier. The default regular expression matches variables of the form surname_word:
variable_regex = ([A-Za-z]+)_([A-Za-z]+)

[genders]
# This section lists valid genders. Each key must be the name of a section in which a word list for a gender is defined. Values are ignored.
male =
female =

[male]
# Pronouns
they = he
them = him
their = his
theirs = his
themselves = himself
# Common gendered words
person = man
youngperson = boy
parent = father
grandparent = grandfather
sibling = brother
siblingchild = nephew
parentsibling = uncle
child = son
spouse = husband

[female]
# Pronouns
they = she
them = her
their = her
theirs = hers
themselves = herself
# Common gendered words
person = woman
youngperson = girl
parent = mother
grandparent = grandmother
sibling = sister
siblingchild = niece
parentsibling = aunt
child = daughter
spouse = wife
